@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter";
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.footer-logo {
  background: #23263b;
  padding: 10px;
  text-align: center;
}

.account-items {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-alert p {
  background-color: #23263b;
  color: #fff;
  padding: 7px 0;
  text-align: center;
  font-size: 12px;
}

.header-account-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.header-account-bar .logo-spencer {
  height: 30px;
}

.items-button-with-icon {
  display: flex;
  gap: 25px;
}

.item-customer-support,
.item-customer-find {
  display: flex;
  align-items: center;
  gap: 5px;
}

.items-icon {
  display: flex;
  gap: 23px;
}

.item-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.item-icon-text h3 {
  display: none;
}

.nav-menu-mobile {
  display: none;
}

.header-menu-sector ul {
  display: flex;
  column-gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
}

.header-menu-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-categories ul {
  display: flex;
  column-gap: 15px;
  padding: 15px 0;
  font-size: 12px;
}

#search {
  border: 1px solid #888;
  width: 250px;
  height: 25px;
  padding: 2px 10px;
  font-family: "Inter";
}

.section-banner-slide {
  background-image: url("img/imagemcapa.png");
  height: 280px;
  background-size: cover;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-style: normal;
}

.section-banner-slide h1 {
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.section-banner-slide h2 {
  font-weight: 600;
  font-size: 27px;
}

.section-category-mobile,
.section-carrousel-seen-recently-mobile,
.section-carrousel-newly-added-mobile {
  display: none;
}

.section-carrousel-new-in h2 {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
}

.seen-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.seen-text h2 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.seen-text a {
  font-weight: 400;
  font-size: 14px;
  color: #5468ff;
  text-decoration: none;
}

.carrousel-items {
  display: flex;
  gap: 10px;
}

.item-img {
  position: relative;
}

.for-icon {
  background: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
}

.for-icon img {
  padding: 2px 0;
}

.item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-text span {
  font-size: 12px;
  color: #7a7a7a;
  padding: 3px 0;
}

.item-text h3 {
  padding: 5px 0;
  font-weight: 400;
  font-size: 12px;
}

.item-text strong {
  padding: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
  color: #e8600a;
}

.item-text strong span {
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #91929d;
  font-style: italic;
}

.newin-carrousel-items {
  overflow: scroll;
  display: flex;
  gap: 30px;
}

footer {
  margin-top: 20px;
}

.footer-item-menu {
  background: #eaeaec;
  padding: 20px;
}

.footer-item-menu h3 {
  padding-bottom: 13px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header-account-bar {
    padding: 10px 20px;
  }

  .item-icon-text h3 {
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
  }

  .items-button-with-icon {
    display: none;
  }

  .header-menu-sector {
    display: none;
  }

  .header-menu-search {
    display: none;
  }

  .nav-menu-mobile {
    display: flex;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding: 13px 0;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .menu-lateral {
    border-right: 1px solid #c2c2c2;
    padding: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .menu-lateral p {
    font-size: 9px;
  }

  .section-banner-slide {
    background-image: url("img/capa-mobile.svg");
    height: 172px;
    padding: 24px;
  }

  .section-banner-slide h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }

  .section-banner-slide h2 {
    font-weight: 700;
    font-size: 14px;
  }

  .nav-search-mobile input {
    border: 0;
  }

  .nav-search-mobile {
    display: flex;
    align-items: center;
    gap: 21px;
  }

  .section-banner-slide {
    background-image: url("img/capa-mobile.svg");
    height: 172px;
    background-size: cover;
    color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-style: normal;
  }

  .section-banner-slide h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }

  .section-banner-slide h2 {
    font-weight: 700;
    font-size: 14px;
  }

  .section-category-mobile {
    display: block;
    padding: 20px 16px;
  }

  .section-category-mobile h2 {
    font-size: 14px;
    color: #91929d;
    font-weight: 400;
    padding: 10px 0;
  }

  .item-category h3 {
    font-size: 14px;
    color: #23263b;
    font-weight: 500;
  }

  .categories-mobile {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .desktop-hidden {
    display: none;
  }

  .section-carrousel-seen-recently-mobile,
  .section-carrousel-newly-added-mobile {
    display: block;
    padding: 24px 16px;
  }

}